In [1]:
#day 18 pandasone


import numpy as np
import pandas as pd

In [3]:
cols = [ 'CA1', 'CA2', 'CA3']
sitno = np.arange(1,51)
np.random.seed(5)
score = np.random.randint(1,11,150)
score = score.reshape(50,3)
df =pd.DataFrame(data =score, index= sitno, columns=cols)
df

    CA1  CA2  CA3
1     4    7    7
2     1   10    9
3     5    8    1
4     1    8    2
5     6    8    1
6     2    5    7
7     3   10   10
8    10   10    2
9     3    8    1
10    6    1    1
11    5    5   10
12    4    3    5
13    7   10    4
14    4    3    2
15    6    8    5
16    4    2    8
17    4    2   10
18    6    8    1
19   10    7    1
20    6    3    9
21    7    9    1
22    6    3    1
23    8    8    7
24    1    1    9
25    6    6   10
26    7    5    6
27    3    9    9
28    2    7    4
29    5    2    9
30    1    3    3
31    5    2    7
32    4    5    4
33    2    5    3
34    4    5   10
35    5    1    7
36    7   10    3
37   10    4    1
38    9    9   10
39    8    5    9
40    7    9    1
41    6    4    5
42    1    3    3
43    2    2    8
44    2    8    3
45    7    4    7
46    9    1   10
47    2   10    1
48    9    8    8
49   10    5    2
50    5    3    2

In [4]:
df['CA2'] # selecting a single column

1      7
2     10
3      8
4      8
5      8
6      5
7     10
8     10
9      8
10     1
11     5
12     3
13    10
14     3
15     8
16     2
17     2
18     8
19     7
20     3
21     9
22     3
23     8
24     1
25     6
26     5
27     9
28     7
29     2
30     3
31     2
32     5
33     5
34     5
35     1
36    10
37     4
38     9
39     5
40     9
41     4
42     3
43     2
44     8
45     4
46     1
47    10
48     8
49     5
50     3
Name: CA2, dtype: int32

In [6]:
df[['CA1' , 'CA2']] # selecting more than a column

    CA1  CA2
1     4    7
2     1   10
3     5    8
4     1    8
5     6    8
6     2    5
7     3   10
8    10   10
9     3    8
10    6    1
11    5    5
12    4    3
13    7   10
14    4    3
15    6    8
16    4    2
17    4    2
18    6    8
19   10    7
20    6    3
21    7    9
22    6    3
23    8    8
24    1    1
25    6    6
26    7    5
27    3    9
28    2    7
29    5    2
30    1    3
31    5    2
32    4    5
33    2    5
34    4    5
35    5    1
36    7   10
37   10    4
38    9    9
39    8    5
40    7    9
41    6    4
42    1    3
43    2    2
44    2    8
45    7    4
46    9    1
47    2   10
48    9    8
49   10    5
50    5    3

In [8]:
df.loc[15] # selecting a rows or index vai the default index

CA1    6
CA2    8
CA3    5
Name: 15, dtype: int32

In [7]:
df.loc[[15,18,25,30]]  # selecting multiple rows or index vai the set index

    CA1  CA2  CA3
15    6    8    5
18    6    8    1
25    6    6   10
30    1    3    3

In [9]:
df.iloc[14]# selecting a rows or index vai the default index

CA1    6
CA2    8
CA3    5
Name: 15, dtype: int32

In [10]:
df.iloc[[14,17,24,29]]  # selecting multiple rows or index vai the default index

    CA1  CA2  CA3
15    6    8    5
18    6    8    1
25    6    6   10
30    1    3    3

In [16]:
np.random.seed(5)
age_value = np.random.randint(13,17,50).reshape(50,1)
df.insert (loc=0, value =age_value, column='AGE')
df

    AGE  CA1  CA2  CA3
1    16    4    7    7
2    15    1   10    9
3    16    5    8    1
4    14    1    8    2
5    15    6    8    1
6    15    2    5    7
7    13    3   10   10
8    14   10   10    2
9    13    3    8    1
10   13    6    1    1
11   16    5    5   10
12   15    4    3    5
13   16    7   10    4
14   13    4    3    2
15   15    6    8    5
16   13    4    2    8
17   16    4    2   10
18   13    6    8    1
19   16   10    7    1
20   14    6    3    9
21   14    7    9    1
22   16    6    3    1
23   13    8    8    7
24   16    1    1    9
25   13    6    6   10
26   14    7    5    6
27   16    3    9    9
28   14    2    7    4
29   16    5    2    9
30   15    1    3    3
31   13    5    2    7
32   15    4    5    4
33   14    2    5    3
34   15    4    5   10
35   15    5    1    7
36   14    7   10    3
37   14   10    4    1
38   15    9    9   10
39   14    8    5    9
40   14    7    9    1
41   15    6    4    5
42   14    1    3    3
43   15    2    2    8
44   16    2    8    3
45   13    7    4    7
46   15    9    1   10
47   14    2   10    1
48   15    9    8    8
49   13   10    5    2
50   13    5    3    2

In [17]:
np.random.seed(5)
df['EXAM'] = np.random.randint(25,71,50).reshape(50,1)
df

    AGE  CA1  CA2  CA3  EXAM
1    16    4    7    7    60
2    15    1   10    9    39
3    16    5    8    1    63
4    14    1    8    2    41
5    15    6    8    1    34
6    15    2    5    7    33
7    13    3   10   10    61
8    14   10   10    2    64
9    13    3    8    1    52
10   13    6    1    1    55
11   16    5    5   10    41
12   15    4    3    5    32
13   16    7   10    4    37
14   13    4    3    2    40
15   15    6    8    5    64
16   13    4    2    8    41
17   16    4    2   10    52
18   13    6    8    1    69
19   16   10    7    1    38
20   14    6    3    9    36
21   14    7    9    1    26
22   16    6    3    1    55
23   13    8    8    7    45
24   16    1    1    9    47
25   13    6    6   10    43
26   14    7    5    6    34
27   16    3    9    9    67
28   14    2    7    4    66
29   16    5    2    9    66
30   15    1    3    3    26
31   13    5    2    7    43
32   15    4    5    4    64
33   14    2    5    3    41
34   15    4    5   10    39
35   15    5    1    7    30
36   14    7   10    3    25
37   14   10    4    1    41
38   15    9    9   10    29
39   14    8    5    9    61
40   14    7    9    1    66
41   15    6    4    5    52
42   14    1    3    3    56
43   15    2    2    8    27
44   16    2    8    3    29
45   13    7    4    7    63
46   15    9    1   10    66
47   14    2   10    1    44
48   15    9    8    8    44
49   13   10    5    2    43
50   13    5    3    2    32

In [20]:
df['Total Score'] = df['CA1'] + df['CA2'] + df['CA3'] + df['EXAM']
df

    AGE  CA1  CA2  CA3  EXAM  Total Score
1    16    4    7    7    60           78
2    15    1   10    9    39           59
3    16    5    8    1    63           77
4    14    1    8    2    41           52
5    15    6    8    1    34           49
6    15    2    5    7    33           47
7    13    3   10   10    61           84
8    14   10   10    2    64           86
9    13    3    8    1    52           64
10   13    6    1    1    55           63
11   16    5    5   10    41           61
12   15    4    3    5    32           44
13   16    7   10    4    37           58
14   13    4    3    2    40           49
15   15    6    8    5    64           83
16   13    4    2    8    41           55
17   16    4    2   10    52           68
18   13    6    8    1    69           84
19   16   10    7    1    38           56
20   14    6    3    9    36           54
21   14    7    9    1    26           43
22   16    6    3    1    55           65
23   13    8    8    7    45           68
24   16    1    1    9    47           58
25   13    6    6   10    43           65
26   14    7    5    6    34           52
27   16    3    9    9    67           88
28   14    2    7    4    66           79
29   16    5    2    9    66           82
30   15    1    3    3    26           33
31   13    5    2    7    43           57
32   15    4    5    4    64           77
33   14    2    5    3    41           51
34   15    4    5   10    39           58
35   15    5    1    7    30           43
36   14    7   10    3    25           45
37   14   10    4    1    41           56
38   15    9    9   10    29           57
39   14    8    5    9    61           83
40   14    7    9    1    66           83
41   15    6    4    5    52           67
42   14    1    3    3    56           63
43   15    2    2    8    27           39
44   16    2    8    3    29           42
45   13    7    4    7    63           81
46   15    9    1   10    66           86
47   14    2   10    1    44           57
48   15    9    8    8    44           69
49   13   10    5    2    43           60
50   13    5    3    2    32           42

In [21]:
def grade(totalscore):
    if totalscore>= 70 and totalscore <=100:
        return 'A'
    elif totalscore>= 60 and totalscore <=69.99:
        return 'B'
    elif totalscore>= 50 and totalscore <=59.99:
        return 'C'
    elif totalscore>= 40 and totalscore <=49.99:
        return 'D'
    elif totalscore>= 30 and totalscore <=39.99:
        return 'E'
    else:
        return 'F'
df['grade'] = df['Total Score'].apply(grade)
df

    AGE  CA1  CA2  CA3  EXAM  Total Score grade
1    16    4    7    7    60           78     A
2    15    1   10    9    39           59     C
3    16    5    8    1    63           77     A
4    14    1    8    2    41           52     C
5    15    6    8    1    34           49     D
6    15    2    5    7    33           47     D
7    13    3   10   10    61           84     A
8    14   10   10    2    64           86     A
9    13    3    8    1    52           64     B
10   13    6    1    1    55           63     B
11   16    5    5   10    41           61     B
12   15    4    3    5    32           44     D
13   16    7   10    4    37           58     C
14   13    4    3    2    40           49     D
15   15    6    8    5    64           83     A
16   13    4    2    8    41           55     C
17   16    4    2   10    52           68     B
18   13    6    8    1    69           84     A
19   16   10    7    1    38           56     C
20   14    6    3    9    36           54     C
21   14    7    9    1    26           43     D
22   16    6    3    1    55           65     B
23   13    8    8    7    45           68     B
24   16    1    1    9    47           58     C
25   13    6    6   10    43           65     B
26   14    7    5    6    34           52     C
27   16    3    9    9    67           88     A
28   14    2    7    4    66           79     A
29   16    5    2    9    66           82     A
30   15    1    3    3    26           33     E
31   13    5    2    7    43           57     C
32   15    4    5    4    64           77     A
33   14    2    5    3    41           51     C
34   15    4    5   10    39           58     C
35   15    5    1    7    30           43     D
36   14    7   10    3    25           45     D
37   14   10    4    1    41           56     C
38   15    9    9   10    29           57     C
39   14    8    5    9    61           83     A
40   14    7    9    1    66           83     A
41   15    6    4    5    52           67     B
42   14    1    3    3    56           63     B
43   15    2    2    8    27           39     E
44   16    2    8    3    29           42     D
45   13    7    4    7    63           81     A
46   15    9    1   10    66           86     A
47   14    2   10    1    44           57     C
48   15    9    8    8    44           69     B
49   13   10    5    2    43           60     B
50   13    5    3    2    32           42     D

In [24]:
df.rename({'CA1': 'FirstCA' , 'CA2': 'SecondCA' ,'CA3': 'ThirdCA'} , axis = 1 , inplace =True )
df

    AGE  FirstCA  SecondCA  ThirdCA  EXAM  Total Score grade
1    16        4         7        7    60           78     A
2    15        1        10        9    39           59     C
3    16        5         8        1    63           77     A
4    14        1         8        2    41           52     C
5    15        6         8        1    34           49     D
6    15        2         5        7    33           47     D
7    13        3        10       10    61           84     A
8    14       10        10        2    64           86     A
9    13        3         8        1    52           64     B
10   13        6         1        1    55           63     B
11   16        5         5       10    41           61     B
12   15        4         3        5    32           44     D
13   16        7        10        4    37           58     C
14   13        4         3        2    40           49     D
15   15        6         8        5    64           83     A
16   13        4         2        8    41           55     C
17   16        4         2       10    52           68     B
18   13        6         8        1    69           84     A
19   16       10         7        1    38           56     C
20   14        6         3        9    36           54     C
21   14        7         9        1    26           43     D
22   16        6         3        1    55           65     B
23   13        8         8        7    45           68     B
24   16        1         1        9    47           58     C
25   13        6         6       10    43           65     B
26   14        7         5        6    34           52     C
27   16        3         9        9    67           88     A
28   14        2         7        4    66           79     A
29   16        5         2        9    66           82     A
30   15        1         3        3    26           33     E
31   13        5         2        7    43           57     C
32   15        4         5        4    64           77     A
33   14        2         5        3    41           51     C
34   15        4         5       10    39           58     C
35   15        5         1        7    30           43     D
36   14        7        10        3    25           45     D
37   14       10         4        1    41           56     C
38   15        9         9       10    29           57     C
39   14        8         5        9    61           83     A
40   14        7         9        1    66           83     A
41   15        6         4        5    52           67     B
42   14        1         3        3    56           63     B
43   15        2         2        8    27           39     E
44   16        2         8        3    29           42     D
45   13        7         4        7    63           81     A
46   15        9         1       10    66           86     A
47   14        2        10        1    44           57     C
48   15        9         8        8    44           69     B
49   13       10         5        2    43           60     B
50   13        5         3        2    32           42     D

In [25]:
df.head()

   AGE  FirstCA  SecondCA  ThirdCA  EXAM  Total Score grade
1   16        4         7        7    60           78     A
2   15        1        10        9    39           59     C
3   16        5         8        1    63           77     A
4   14        1         8        2    41           52     C
5   15        6         8        1    34           49     D

In [27]:
df.head(10)

    AGE  FirstCA  SecondCA  ThirdCA  EXAM  Total Score grade
1    16        4         7        7    60           78     A
2    15        1        10        9    39           59     C
3    16        5         8        1    63           77     A
4    14        1         8        2    41           52     C
5    15        6         8        1    34           49     D
6    15        2         5        7    33           47     D
7    13        3        10       10    61           84     A
8    14       10        10        2    64           86     A
9    13        3         8        1    52           64     B
10   13        6         1        1    55           63     B

In [28]:
df.tail()

    AGE  FirstCA  SecondCA  ThirdCA  EXAM  Total Score grade
46   15        9         1       10    66           86     A
47   14        2        10        1    44           57     C
48   15        9         8        8    44           69     B
49   13       10         5        2    43           60     B
50   13        5         3        2    32           42     D

In [29]:
df.tail(10)

    AGE  FirstCA  SecondCA  ThirdCA  EXAM  Total Score grade
41   15        6         4        5    52           67     B
42   14        1         3        3    56           63     B
43   15        2         2        8    27           39     E
44   16        2         8        3    29           42     D
45   13        7         4        7    63           81     A
46   15        9         1       10    66           86     A
47   14        2        10        1    44           57     C
48   15        9         8        8    44           69     B
49   13       10         5        2    43           60     B
50   13        5         3        2    32           42     D

In [31]:
df.shape

(50, 7)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AGE          50 non-null     int32
 1   FirstCA      50 non-null     int32
 2   SecondCA     50 non-null     int32
 3   ThirdCA      50 non-null     int32
 4   EXAM         50 non-null     int32
 5   Total Score  50 non-null     int32
 6   grade        50 non-null     object
dtypes: int32(6), object(1)
memory usage: 3.3+ KB

In [39]:
df.describe()

            AGE    FirstCA   SecondCA    ThirdCA       EXAM  Total Score
count  50.00000  50.000000  50.000000  50.000000  50.000000    50.000000
mean   14.48000   5.140000   5.640000   5.180000  46.440000    62.400000
std     1.09246   2.672689   2.953794   3.396817  13.516671    14.810366
min    13.00000   1.000000   1.000000   1.000000  25.000000    33.000000
25%    14.00000   3.000000   3.000000   2.000000  36.250000    52.000000
50%    14.50000   5.000000   5.000000   5.000000  43.000000    59.500000
75%    15.00000   7.000000   8.000000   8.750000  60.750000    77.000000
max    16.00000  10.000000  10.000000  10.000000  69.000000    88.000000

In [40]:
df.describe().transpose()

             count   mean        std   min    25%   50%    75%   max
AGE           50.0  14.48   1.092460  13.0  14.00  14.5  15.00  16.0
FirstCA       50.0   5.14   2.672689   1.0   3.00   5.0   7.00  10.0
SecondCA      50.0   5.64   2.953794   1.0   3.00   5.0   8.00  10.0
ThirdCA       50.0   5.18   3.396817   1.0   2.00   5.0   8.75  10.0
EXAM          50.0  46.44  13.516671  25.0  36.25  43.0  60.75  69.0
Total Score   50.0  62.40  14.810366  33.0  52.00  59.5  77.00  88.0

In [ ]:
#assignment 
# generate a sales data for january through decenber for 28 days 
# the sales range from 1000000 to 10000000
# for each day calculate the sales across all the month